<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petbondo-Adoption</title>
    <link rel="stylesheet" href="/stylesheets/adoption.css">
</head>
<body>
    <h1>User Information</h1>
    <span id="ask">Please fill the  form below to adopt a pet.</span>
    <form action="/user-adoption/<%= petId %>" method="POST">
        <label>Name:</label>
        <input type="text" name="name">
        <label>Contact Number:</label>
        <input type="number" name="contact_number">
        <label>Email</label>
        <input type="email" name="email">
        <button type="submit">Submit</button>
    </form>
</body>
</html>