<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petbondo-Adoption</title>
    <link rel="stylesheet" href="/stylesheets/adoption.css">
</head>
<body>
    <h1>User Information</h1>
    <span id="ask">Please fill the form below to adopt a pet.</span>
    <div class="form-container">
        <form action="/user-adoption/<%= petId %>" method="POST">
            <div class="error" ></div>
            <label>Name:</label>
            <input type="text" name="name"  required>
            <label>Contact Number:</label>
            <input type="tel" name="contact_number" required>
            <label>Email</label>
            <input type="email" name="email" required >
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
