<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petbondo-Contact</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px; 
        }

        h1 {
            text-align: center;
        }

        .contact-info {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Contact Us</h1>
    <div class="contact-info">
        <p>If you have any inquiries or need assistance, please feel free to contact us via
         Email: <a href="mailto:dumbobad1234@gmail.com">dumbobad1234@gmail.com</a></p>
    </div>
</body>
</html>
