<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Petbondo</title>
        <link rel="stylesheet" href="../stylesheets/header.css">
</head>
<body>
    
  <nav>
    <ul class="sidebar">
      <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg></a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/pets/dogs">Dogs</a></li>
      <li><a href="/pets/cats">Cats</a></li>
      <li><a href="/pets/others">Others</a></li>
      <li><a href="/contact">Contact</a></li>
      
    </ul>
    <ul>
      <li><a href="/">Petbondo</a></li>
      <li class="hideOnMobile"><a href="/">Home</a></li>
      <li class="hideOnMobile"><a href="/about">About Us</a></li>
      <li class="hideOnMobile"><a href="/admin">Admin</a></li>
      <li class="hideOnMobile"><a href="/pets/dogs">Dogs</a></li>
      <li class="hideOnMobile"><a href="/pets/cats">Cats</a></li>
      <li class="hideOnMobile"><a href="/pets/others">Others</a></li>
      <li class="hideOnMobile"><a href="/contact">Contact</a></li>
      <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg></a></li>
    </ul>
  </nav>
<body>
    <script>
    function showSidebar(){
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'flex';
      sidebar.style.backgroundColor='rgba(0, 0, 0, 0.5)'
      sidebar.style.color="white";

    }

    function hideSidebar(){
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'none'
    }  
    </script>
</body>
</html>