<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Petbondo</title>
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  <link rel="stylesheet" href="../stylesheets/index.css">
</head>
<body>
  <%- include('header.ejs') %>
  <div class="container">
    <div class="content">
      <h2>Welcome to Petbondo</h2>
      <p>Find your new furry friend and give them a forever home. Adopting a pet not only brings joy to your life but also saves a life. At our Pet Adoption Center, we believe in the transformative power of the bond between humans and animals. Our mission is to connect loving families with adorable pets, creating lifelong companionship.</p>
        <p class="hero-line" style="display:flex;color: #f721a8; font-size: 2rem;height: 60px; "></p>
      <script>
        var typed = new Typed(".hero-line", {
          strings: [
            "Explore 🔎",
            "Select ✅",
            "Adopt :)",
          ],
          typeSpeed: 200,
          backspeed:200,
          loop:true,
          showCursor:false,
        });
      </script>
      <button class="explore-button" onclick="explore()">Explore</button>
    </div>
    <div class="image-holder">
      <img src="../uploads/dog_cat.jpg" alt="dog and cat" >
  </div>

<script>
    function explore(){
      window.location.href = '/pets';
    }
</script>
</body>
</html>
