<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Thank You!</title>
        </head>
        <body style="display: flex;flex-direction: column;font-family: 'Arial', sans-serif;background-color: #000000;text-align: center;padding: 50px;">
            <h1 style="color: #3de1e3;">Thank You for adopting the Pet!</h1>
            <p style="font-size: 18px;color: #ffffff;">Your request has been submitted to the admin.Please check your email for further information.</p>
        </body>
        </html>